.inp{
  display: none;
}

.img{
  height: 250px;
  width: 300px;
  border: 5px solid rgb(20, 220, 177);
  border-radius: 10px;
  object-fit: fill;
}

.error{
  color: red;
  background: pink;
  padding: 10px 15px;
}

button{
  padding: 15px 20px;
  box-shadow: 0 0 10px 2px #ffe;
  color: white;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(10, 186, 230);
}

.uploadImage{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.fileName{
  background: rgb(8,148,203);
  color: white;
  border-radius: 5px;
  padding: 15px 10px;
  margin: 10px 0;
}

.upload{
  background: green;
}

.progressBar{
  width: 350px;
  height: 50px;
  background: rgb(198, 196, 196);
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

.progress{
  background: rgb(32, 165, 15);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: inherit;
}